
*{
    margin: 0;
    box-sizing: border-box;

}

header {
    background-color: rgb(113, 165, 243);   
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
    font-size: 25px;
    padding-bottom: 20px; ;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 25px;
}

h3{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th, td {
    border: 1px solid wheat;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    margin-right: 5px;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: red;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


.footer{
    
        background-color: rgb(113, 165, 243);   
        color: #fff; /* Couleur du texte */
        padding: 20px; /* Espacement intérieur */
        text-align: center; /* Alignement du texte au centre */
        position: relative; /* Position fixe en bas de la fenêtre */
        bottom: 0; /* Distance depuis le bas */
        width: 100%; /* Largeur pleine */
    
    
    /* Style pour le contenu du footer */
    .footer-content {
        margin-bottom: 10px; /* Marge inférieure */
    }
    
    /* Style pour les coordonnées du footer */
    .footer-coordinates {
        margin-top: 10px; /* Marge supérieure */
    }
    
    /* Style pour les icônes dans le footer */
    .icons {
        margin-top: 10px; /* Marge supérieure */
    }
    
    /* Style pour les liens dans le footer */
    footer a {
        color: #fff; /* Couleur du texte */
        text-decoration: none; /* Supprimer les soulignements */
    }
    
    /* Style pour les liens dans le footer au survol */
    footer a:hover {
        text-decoration: underline; /* Souligner au survol */
    }

    img{
        border-radius: 200px;
    }
}